.main{
    background-color: darkgrey;
    width: 80%;
    height: 100vh;
    border-left: 2px solid lightskyblue;
    border-bottom: 2px solid lavender;
    /* box-shadow: -2px -2px -2px -2px; */
    position: relative;
    margin-left: 40px;
    padding: 40px;
    display: block;
}
.aside{
width: 30%;
height: 40vh;
background-color: rgb(4, 16, 20);
/* float: left; */
display: block;
position: absolute;
cursor:pointer;
padding: 20px;
color: white;
font-family: monospace, sans-serif;
}
.right{
    display: block;
    width: 30%;
    height: 40vh;
    float: right;
    position: relative;
    background-color: rgb(9, 24, 20);
    margin-bottom: -500px;
    padding: 20px;
}